<div>
  <h1 class="font-bold text-4xl">Root#index</h1>

  <%= link_to "Link to #{page_with_tabs_index_path(anchor: "selected_tab")}", page_with_tabs_index_path(anchor: "selected_tab"), class: "underline font-medium" %>
</div>
